# Introduction

What is Python:

Developed by Guido Van Rossum in 1991

  1. High-level language
  2. Obeject Oriented
  3. Interpreted - runs the program step by step
  4. Dynamic semantics - variables can understand by themselves about their values
  5. Simple Syntax
  6. General Purpose

Comments:
1. Single line comments: #

2. Multi line comments: """  """

In [ ]:
#Python is High-level language
"""python
 is
  Interpreted"""
a=1
print(a)
print(type(a))

1
<class 'int'>

In [ ]:
print(1)

1

Variables

  1. It works like a container to store values.
  2. it allows different datatypes to store in it.

Rules
  
  1. You most use a-z,A-Z, or _ to start a variable name.
  2. Cannot start with a number.
  3. Can only contain letters, numbers and underscores.
  4. Variable names are case sensitive. Eg; Age, age, AGe
  5. Python keywords cannot be used as a variables. Eg: if, else, def, for, etc..

In [ ]:
# variables
The_number=1
print(The_number)
#casting
a=str(3)
print(a)
print(type(a))

1
3
<class 'str'>

In [ ]:
# to assign mutiple values to multiple variables
a=1
b=2
c=3
print(a)
print(b)
print(c)
#instead use this
a,b,c=1,2,3
print(a,b,c,sep="\n")

1
2
3
1
2
3

In [ ]:
#same value to multiple variable
a=b=c=1
print(a,b,c,sep="\n")
# variable name has to be meaningful for further reference
pen_price=10
pencil_price=5
Total_price=pen_price+pencil_price
print(Total_price)

1
1
1
15

In [ ]:
#we know that variables are not allowed write with space, due to this for a multiple words we can this method:
#Camel case
myVariableName="John"
print(myVariableName)
#Pascal Case
MyVariableName="John"
print(MyVariableName)
#Snake Case
my_variable_name="John"
print(my_variable_name)

John
John
John

In [ ]:
# we can define a constant values in capital letters. This doesn't make the value as constant, it only helps the reader to understand it is constant.
PI=3.14
print(PI)

3.14

Operators:
  1. Arithmetic Operators(Add: +, Sub: -, Multiply: **, Division:/, Modulus:%, Exponential: ****, Floor division: //)
  2. Assignment Operators(=, +=, -=, **=,/=, %=, ****=)
  3. Comparison Operators(==, !=, <, >, <=, >=)
  4. Logical Operators (and, or, not)
  5. Identity Operators(is,is not)
  6. Membership Operators(in, not in)
  7. Bitwise Opeerators(AND: &, OR: |, XOR: ^, NOT: ~, Zero Fill Left Shift: <<, Zero Fill Right Shift: >>)

In [ ]:
#Arithmetic Operators:
a=10
b=5
print("a+b:",a+b)#Addition
print('a-b:', a-b)#Subraction
print('a*b:',a*b)#Muiltiplication
print('a/b:',a/b)#Division
print('a%b:',a%b)#Modulus
print('a**b:',a**b)#Exponential
print('a//b:',a//b)#Floor Division

a+b: 15
a-b: 5
a*b: 50
a/b: 2.0
a%b: 0
a**b: 100000
a//b: 2

In [ ]:
#Asssignment Operators:
a=10
print(a)
a+=5
print(a)
a-=5
print(a)
a*=5
print(a)
a/=5
print(a)
a%=5
print(a)
a**=5
print(a)
a//=5
print(a)

10
15
10
50
10.0
0.0
0.0
0.0

In [ ]:
#Comparison Operators
a=10
b=5
print(a==b)
print(a!=b)
print(a<b)
print(a>b)
print(a<=b)
print(a>=b)

False
True
False
True
False
True

In [ ]:
#Logical Operators
a=10
b=5
print(a==b and a>b)
print(a==b or a>b)
print(not(a==b and a>b))

False
True
True

In [ ]:
#Identity Operators
a=10
b=5
print(a is b)
print(a is not b)

False
True

In [ ]:
#Membership operators
a="Hello"
b="apple"
print(a in b)
print(a not in b)

False
True

In [ ]:
#Bitwise Operators
a=10
b=5
print(a&b)
print(a|b)
print(a^b)
print(~a)
print(a<<b)
print(a>>b)

0
15
15
-11
320
0

Data Types:
1. Numbers
    1. Integer
    2. Float
    3. Complex
2. Boolean
3. String
4. Sequence
  1. List
  2. Tuple
5. Sets
6. Mapping(Dictionary)
7. None

In [ ]:
#Integers
a=1
print(a)
print(type(a))

1
<class 'int'>

In [ ]:
#Float
a=1.0
print(a)
print(type(a))
b=1.2e6
print(b)
print(type(b))

1.0
<class 'float'>
1200000.0
<class 'float'>

In [ ]:
#Complex
a=1+2j
print(a)
print(type(a))

(1+2j)
<class 'complex'>

In [ ]:
#booleans
a=bool(1==1)
print(a)
print(type(a))

True
<class 'bool'>

In [ ]:
#None
a=None
print(a)
print(type(a))

None
<class 'NoneType'>

Strings

In [ ]:
#Strings - enclosed in " ", ' ',""" """  , immutable
a="Hello World"
print(a)
print(type(a))
print(len(a))
b="""This
is a
multi
line
string"""
print(b)
print(type(b))
print(len(b))

Hello World
<class 'str'>
11
This
is a
multi
line
string
<class 'str'>
30

In [ ]:
# To print the methoda
print(dir(a))

['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'as_integer_ratio', 'bit_count', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']

In [ ]:
#Multiply: * (To print the same string multiple times)
a="Hello "
print(a*3)

Hello Hello Hello

In [ ]:
#Membership Operator: in,not in
print("Hello" in a)
print("Hello" not in a)

True
False

In [ ]:
# Indexing
print(a[0])
print(a[-2])

H
o

In [ ]:
#Slicing
print(a[0:5])
print(a[:5])
print(a[:])
print(a[1:])
#To skip one character
print(a[0:5:2])
print(a[::2])
print(a[::])
# To reverse the string
print(a[::-1])

Hello
Hello
Hello
ello
Hlo
Hlo
Hello
 olleH

In [ ]:
#Methods
print(dir(a))
# we can do some specific methods
print(a.replace(" ","*"))
print(a.strip())# it will remove the space or '-' if you mention it in the brackets
print(a.rstrip())
print(a.count("l"))
print(a.upper())
print(a.lower())
print(a.split())
print(a.casefold())# this is also like lower() but it also deals with german letters like alpha, beta
print(a.find("o"))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']
Hello*
Hello
Hello
2
HELLO
hello
['Hello']
hello
4

List:

1. Square Brackets [ ]
2. Ordered, changeable, Allow Duplicates
3. Allow differnent datatypes

In [ ]:
# To create a list
a=[1,2,3,4,5]
print(a)
print(type(a))

[1, 2, 3, 4, 5]
<class 'list'>

In [ ]:
# another way to create a list
l1=list(range(11))
print(l1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#Ordered List: list is ordered by indexing
a=[1,2,3,4,5]
print(a)
print(a[0])
print(a[-1])

[1, 2, 3, 4, 5]
1
5

In [ ]:
# List-slicing
print(a[0:3])
print(a[:3])
print(a[:])
print(a[1:])
#To skip one character
print(a[0:5:2])
print(a[::2])
print(a[::])
# To reverse the list
print(a[::-1])

[1, 2, 3]
[1, 2, 3]
[1, 2, 3, 4, 5]
[2, 3, 4, 5]
[1, 3, 5]
[1, 3, 5]
[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [ ]:
#List-update
#By indexing
a[0]=10
print(a)
#By slicing
a[0:3]=[10,20,30]
print(a)

[10, 2, 3, 4, 5]
[10, 20, 30, 4, 5]

In [ ]:
# List-Add items
#append-add at last
a.append(6)
print(a)
#insert-add at specific index
a.insert(0,0)
print(a)
#extend-add multiple items
a.extend([7,8,9])
print(a)

[10, 20, 30, 4, 5, 6]
[0, 10, 20, 30, 4, 5, 6]
[0, 10, 20, 30, 4, 5, 6, 7, 8, 9]

In [ ]:
#List: Remove items
a.remove(0)
print(a)
a.pop()
print(a)
del a[0]
print(a)

In [ ]:
#List: indexing
a.index(5)

3

In [ ]:
#List: count
a.count(5)
#List: Sort
a.sort()
print(a)
a.sort(reverse=True)
print(a)
#sorting for alphabetes
b=['a','b','c','d','e']
b.sort()
print(b)
#askey values
print(ord('a'))
print(ord('b'))
#List: copy
c=a.copy()
print(c)

In [ ]:
#List: Membership
print(10 in a)
print(10 not in a)
#List: Nested list
a=[1,2,3,[4,5,6]]
print(a)
print(a[3])
print(a[3][0])
#Nested list append
a[3].append(7)
print(a)
#nested list accesing
print(a[3][0])

In [ ]:
#List comprehension- Shorter way of creating new list with existing list
names=['Allen','Vijay','Abishek']
names_list=[name for name in names]
print(names_list)
#To print the names with 'a'
names_list=[name for name in names if 'A' in name]
print(names_list)

In [ ]:
#To multiply the number with 2
A=[number*2 for number in range(11)]
print(A)

In [ ]:
#Nested List Comprehension
a=[[y for y in range (4)]for x in range (4)]
print(a)

Tuples()
1. Ordered
2. Immutable
3. Allow Duplicates

In [ ]:
# to create tuple
a=(1,2,3,4,5)
print(a)
print(type(a))
print(len(a))

In [ ]:
#object type 'int' has no len()
b=(1)
print(type(b))
print(len(b))

In [ ]:
# for string in tuple
b=("Hello")
print(type(b))# it shows as str
print(len(b))
c=("Hello",)
print(type(c))
print(len(c))

In [ ]:
#Items in the tuples are ordered
print(a[0])
print(a[-1])
print(a[0:3])
print(a[:3])
print(a[:])
print(a[1:])
#reverse
print(a[::-1])

In [ ]:
#Items in a tuples are immutable they will be mutable by using list
t1=(1,2,3,4,5)
l1=list(t1)
print(l1)
l1[0]=10
print(l1)
t1=tuple(l1)
print(t1)
print(type(t1))

[1, 2, 3, 4, 5]
[10, 2, 3, 4, 5]
(10, 2, 3, 4, 5)
<class 'tuple'>

In [ ]:
#Basic Operations on tuples
#unpacking a Tuple:
a=(1,2,3)
x,y,z=a
print(x)
print(y)
print(z)

In [ ]:
# To join two tuple together
a=(1,2,3)
b=(4,5,6)
c=a+b
print(c)

In [ ]:
#To print Multiply times
print(a*3)
#count
print(a.count(1))
#index
print(a.index(1))

Sets {}

  1. Unordered - unindexed
  2. Immutable
  3. Do not allow duplicates

In [ ]:
#creation of sets
a={1,2,3,4,5}
print(a)
print(type(a))
print(len(a))

{1, 2, 3, 4, 5}
<class 'set'>
5

In [ ]:
#duplicates are not allowed
a={1,2,3,4,5,1,2,3,4,5}
print(a)
print(len(a))

{1, 2, 3, 4, 5}
5

In [ ]:
# To access the  values in set without indexing, we use
for x in a:
  print(x)

1
2
3
4
5

In [ ]:
#Membership Operator
print(1 in a)
print(1 not in a)

In [ ]:
#To add items in set
a.add(6)
print(a)
#To add multiple items
a.update([7,8,9])
print(a)
#To remove items
a.remove(5)
print(a)
#to discard items
a.discard(2)
print(a)# difference between remove and 'discard': when you didn't pass any item or given item is not present in a set then discard will continue but remove will raise an error
#pop items
a.pop()
print(a) # pop will remove first item we can't allowed  to tell the specific item
#to clear the set
a.clear()
print(a)

In [ ]:
#union
a={1,2,3,4,5}
b={4,5,6,7,8}
c=a.union(b)
print(c)
#Intersection
c=a.intersection(b)
print(c)
#Difference
c=a.difference(b)
print(c)
c=b.difference(a)
print(c)
#symmetric_difference
c=a.symmetric_difference(b)
print(c)

Dictionary:
  
  1. Items are stored as {Key : Value} pair
  2. Ordered
  3. Allow Duplicates values but not for keys
  4. Unindexed but accessed by keys

In [ ]:
#Ordered:
a={'Name':"Allen",'Occupation':"Developer",'Company':"Microsoft"}
print(a)
print(type(a))
print(len(a))

{'Name': 'Allen', 'Occupation': 'Developer', 'Company': 'Microsoft'}
<class 'dict'>
3

In [ ]:
#Accessed by Keys
print(a['Occupation'])

Developer

In [ ]:
#Allow duplicates values but not keys
a={1:"Allen",2:"Vijay",3:"Abishek",4:"Allen"}
print(a)

{1: 'Allen', 2: 'Vijay', 3: 'Abishek', 4: 'Allen'}

In [ ]:
#List into Dictionary
a=[(1,"Allen"),(2,"Vijay"),(3,"Abishek")]
print(dict(a))

In [ ]:
#change values
a={1:"Allen",2:"Vijay",3:"Abishek"}
a[1]="Mohan"
print(a)

In [ ]:
#update
a={1:"Allen",2:"Vijay",3:"Abishek"}
a.update({1:"Mohan"})
print(a)

In [ ]:
#remove items
a={1:"Allen",2:"Vijay",3:"Abishek"}
a.pop(2)
print(a)

In [ ]:
#sorting
a={1:"Allen",2:"Vijay",3:"Abishek"}
print(sorted(a))
print(sorted(a.values()))

# Control Flow

Control Flow statements
1. Selection:
  1. One-way selection
  2. Two-way selection
  3. Multi-way selection
2. Sequence:
3. Iteration

In [ ]:
#Selection:
#One way selection:
Order=560
minimum_order=500
delivery_charge=50
if Order>minimum_order:
  delivery_charge=0
total_price=Order+delivery_charge
print(total_price)

560

In [ ]:
#Two way selection
marks=45
passing=35
if marks>passing:
  print("Pass")
else:
  print("Fail")

Pass

In [ ]:
#Multi way selction
marks=45
passing=35
if marks>passing:
  print("Pass")
elif marks==passing:
  print("Just Pass")
else:
  print("Fail")

In [ ]:
#Ternary Operation or Conditional expression
#Short hand if:
marks=45
passing=35
if marks>passing:print("pass")
#Short hand if else:
print("pass") if marks>passing else print("fail")

In [ ]:
#Logical Operator and, or, not in conditional statements:
a=50
b=70
c=90
if a>b and a>c:
  print("a is greater")
elif b>a and b>c:
  print("b is greater")
else:
  print("c is greater")

c is greater

In [ ]:
#Nested Loop in conditional statements:
number=35
if number>=0:
  if number==0:
    print("number is zero")
  else:
    print("number is positive")
else:
  print("number is negative")

In [ ]:
#pass key
if True:
  pass

In [ ]:
number=20
if number>10:
  pass

Iteration:
  1. While loop
  2. For loop

**While Loop:**

In [ ]:
# creation of while loop
i=1
while i<=10:
  print(i)
  i=i+1

1
2
3
4
5
6
7
8
9
10

In [ ]:
#stop:break
i=1
while i<=10:
  print(i)
  if i==5:
    break
  i=i+1

In [ ]:
#Skip:continue
i=1
while i<=10:
  i=i+1
  if i==5:
    break
  print(i)

2
3
4

In [ ]:
#while loop with else condition **(Note: else condition is not work with thw loop which has break keyword)**
i=1
while i<=10:
  print(i)
  i=i+1
else:
  print("loop completed")

**For Loop:**

In [ ]:
#For Loop in list:
a=[1,2,3,4,5]
for i in a:
  print(i)
for i in a:
  print(i*2)

1
2
3
4
5
2
4
6
8
10

In [ ]:
#For loop in string
name="Allen"
for i in name:
  print(i)

print(type(name))

A
l
l
e
n
<class 'str'>

In [ ]:
#For loop with break keyword
name=[10,20,30,40,50]
for i in name:
  print(i)
  if i==40:
    break

10
20
30
40

In [ ]:
# for loop with continue
name=[10,20,30,40,50]
for i in name:
  if i==40:
    continue
  print(i)

10
20
30
50

In [ ]:
#For loop with Else  **Note: else will not work with break**
name=[10,20,30,40,50]
for i in name:
  print(i)
else:
  print("loop completed")

In [ ]:
#range()
for _ in range(10):
  print(_)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# we can able to change the first value and incrementbvakue in range but the ending value must be n-1
for i in range(1,10,2):
  print(i)

1
3
5
7
9

In [ ]:
#Nested Loop
color=["Red","Green","Blue"]
fruits=["Mango","Apple","Grapes"]
for i in color:
  for j in fruits:
    print(i,j)

# Functions

**Functions**

call the function to run a block of code

Used for DRY(Don't Repeat Yourself) code

In [ ]:
#Defining a function
def add():
  a=10
  b=20
  c=a+b
  print(c)
#Calling a function
add()

In [ ]:
#returning function
def add():
  a=10
  b=20
  c=a+b
  return c
print(add())

In [ ]:
#Returning multiple values
def add():
  a=10
  b=20
  c=a+b
  return a,b,c
print(add())

In [ ]:
#Functions are first class objects-means that assign them to variables
def multiply(x,y):
  return x*y
def apply(funct,x,y):
  return funct(x,y)
print(apply(multiply,3,4))

12

In [ ]:
#Arguments or Parameters
def add(a,b):# Here a, b are formal parameters (usually called as parameters)
  return a+b
print(add(10,20)) #Here 10, 20 are the actual arguments(usually called as arguments)

In [ ]:
#function Passing the value by reference not a copy
#for Mutable object
def my_function(my_list):
  my_list.append(10)
l1=[1,2,3,4]
my_function(l1)
print(l1)
#for immutable object
def my_function(text):
  text+='!'
  return text
message='Hello'
print(my_function(message))
print(message)

[1, 2, 3, 4, 10]
Hello!
Hello

In [ ]:
#Positional Arguments: number of arguments should equals to number of parameters
def add(a,b):
  return a+b
print(add(10,6))

16

In [ ]:
#Arbitary Arguments:*args
def func(*name):
  for i in name:
    print ('Hello ' +i)
func("Allen !","Vijay !","Abishek !")

Hello Allen !
Hello Vijay !
Hello Abishek !

In [ ]:
#Keyword arguments:
def add(a,b):
  return a+b
print(add(a=10,b=20))

30

In [ ]:
#**kwargs -use when you don't know the number of arguments
def func(**name):
  for i in name.values():
    print ('Hello ' +i)
func(a="Allen !",b="Vijay !",c="Abishek !")

In [ ]:
#when you pass a grp of values in function it considered as a single object like:List, Set, Tuple
def func(number):
  print(number)
func([10, 20, 30, 40, 50])

[10, 20, 30, 40, 50]

In [ ]:
#Default parameter values
def add(a=10,b=20):
  return a+b
print(add())
print(add(5,4))
print(add(6))

30
9
26

In [ ]:
'''Variable has scope
      1. Global variable-Used inside and outside the function
      2. Local variable - Used inside the function'''
#Global variable
a=10
def add():
  print(a)
add()
#Local variable
def add():
  a=5
  print(a)
add()
print(a)# it print the value of above global variable. So, the local variable x=5 doesn't affect the global variable

5
70

In [ ]:
#If you want the local variable to affect the global variable: Use "global" Keyword
a=10
print(a)
def add():
  global a
  a=5
  print(a)
add()
print(a)

10
5
5

In [ ]:
#Recursion Function: call the function itself
def factorial(x):
  if x==1:
    return 1
  else:
    return x*factorial(x-1)
print(factorial(5))

120